<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{'Header.Home'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">{{'SIDEBAR.Statistics'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>{{'SIDEBAR.Session'|translate}}</span>
    </li>
  </ul>
</div>
<div style="padding:2px;"></div>
<!-- BEGIN TABLE TOOLBAR-->
<div class="table-toolbar">
  <div class="row">

    <div class="col-md-12">
      <span style="padding: 5px"></span>
    </div>
    <div class="col-md-12">
      <div class="row" >
        <div class="col-md-3">
          <button class="btn red" *ngIf="numberDeleteItems>0" (click)="deleteCheckedItems()" id="form-remove-btn"><i class="fa fa-trash-o"></i> {{ 'Button.Delete' | translate }}</button>
        </div>
        <div class="col-md-9 export-pos">
          <div class="dropdown" >
          <button  class="btn blue dropdown-toggle"  type="button" data-toggle="dropdown" >{{'Button.ExportFile'|translate}}
            <span class="caret"></span></button>
          <ul class="dropdown dropdown-pos dropdown-menu">
            <li><a (click)="export(0)">Word</a></li>
            <li><a (click)="export(1)">PDF</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <span style="padding: 5px"></span>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal align-middle" [formGroup]="filterForm" (ngSubmit)="search(filterForm.value, 0)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-3">{{'Statistics.From'|translate}}</label>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6" style="padding-right: 2px;">
                  <input class="form-control" type="date" formControlName="fromDate" required>

                </div>
                <div class="col-md-6" style="padding-left: 2px;">
                  <input class="form-control col-md-5" type="time" step="1" value="01:00:00" formControlName="fromTime" required><br>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-3">{{'Statistics.To'|translate}}</label>
            <div class="col-md-8" style="align-content: left;">
              <div class="row">
                <div class="col-md-6" style="padding-right: 2px;">
                  <input class="col-md-7" class="form-control" value="2018-10-16" type="date" formControlName="toDate"  required>

                </div>
                <div class="col-md-6" style="padding-left: 2px;">
                  <input class="col-md-5" class="form-control" type="time" step="1" value="22:53:05" formControlName="toTime"  required>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-3">{{'Session.OrderId'|translate}}</label>
            <div class="col-md-8">
              <input class="form-control" type="text" formControlName="orderid"  required>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-3">{{'Session.IpAddress'|translate}}</label>
            <div class="col-md-8">
              <input class="form-control" type="text" formControlName="ipAddress"  required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-3">{{'Session.PortId'|translate}}</label>
            <div class="col-md-8">
              <input class="form-control" type="text"  formControlName="gateid" required>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-3">{{'Session.TransactionId'|translate}}</label>
            <div class="col-md-8">
              <input class="form-control" type="text" formControlName="tradingCode"  required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn green" ><i class="fa fa-search"></i> {{'Button.Search'|translate}}</button>
        </div>
      </div>
    </form>
  </div>

</div>
<div class="portlet-body">
  <div>
    <div class="table-toolbar">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
    <!-- END TABLE TOOLBAR-->
    <!-- BEGIN TABLE CONTENT-->
    <div style="overflow-x:auto;">
    <table  class="table table-bordered table-hover" id="list-data-table" >
      <thead>
      <tr>
        <th (change)="countNumberDeleteItems()">
          <div class="checker">
          <span [class.checked]="checkAllItemFlag">
            <input id="checkAll" type="checkbox" (click)="checkAllItem()" />
          </span>
          </div>
        </th>
        <th>
          <a>{{'Session.OrderId'|translate}}</a>
        </th>
        <th>
          <a>{{'Session.OrganizationId'|translate}}</a>
        </th>
        <th>
          <a>{{'Session.PortId'|translate}}</a>
        </th>
        <th>
          <a>{{'Session.TransactionId'|translate}}</a>
        </th>
        <th>
          <a>{{'Session.Money'|translate}}</a>
        </th>
        <th>
          <a>{{'Session.Ip'|translate}}</a>
        </th>
        <th>
          <a>{{'Session.Time'|translate}}</a>
        </th>
        <th>
          <a>{{'Session.Action'|translate}}</a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="odd gradeX" *ngFor="let item of receiptList; let i = index">
        <td (change)="countNumberDeleteItems()" style="text-align:center">
          <div class="checker">
          <span [class.checked]="item.checked">
            <input id="checkOne" type="checkbox" [(ngModel)]="item.checked" />
          </span>
          </div>
        </td>

        <td style="text-align:center; text-underline: #0a6aa1"><a [routerLink]="['/session',item.id, 'detail']">{{item.orderId}}</a></td>
        <td style="text-align:center">{{item.paymentGateMerchant.merchant.merchantCode}}</td>
        <td style="text-align:center">{{item.paymentGateMerchant.gate.gateCode}}</td>
        <td style="text-align:center">{{item.tradingCode}}</td>
        <td style="text-align:center">{{item.money}}</td>
        <td style="text-align:center">{{item.ipAddress}}</td>
        <td style="text-align:center">{{item.paymenttime | date : "dd/MM/yyyy"}}</td>
        <td style="text-align:center">
          <a class="btn btn-icon-only blue" title="{{'Button.Detail'|translate}}" id="business-btn"
             [routerLink]="['/session/detail', item.id]">
            <i class="fa fa-info" aria-hidden="true"></i>
          </a>
          <button class="btn red btn-circle" (click)="delete(item.id)"><i class="fa fa-trash-o"></i></button>
        </td>

      </tr>
      </tbody>
    </table>
    </div>
    <!-- END TABLE CONTENT-->
    <!-- BEGIN PAGING-->
    <div class="row">
      <div class="col-md-4">
        {{fromNumber}} - {{toNumber}} {{ 'Common.InTotal' | translate }} {{totalElements}} {{ 'Common.Items' |
        translate}}
      </div>
      <div class="col-md-4 pull-right">
        <button type="button" title="{{ 'Action.FirstPage' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
                (click)="choosePageNumber(0)">
          <i class="fa fa-angle-double-left"></i>
        </button>
        <button type="button" title="{{ 'Action.Previous' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
                (click)="choosePageNumber(currentPage-1)">
          <i class="fa fa-angle-left"></i>
        </button>
        <input type="number" min="1" max="{{totalPages}}" style="border: none; width: 30px; text-align: center;" [value]="currentPageView"
               #page (keyup.enter)="choosePageNumber(currentPage)"> /
        <label style="padding-right: 5px;">{{totalPages}}</label>
        <button type="button" title="{{ 'Action.Next' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
                (click)="choosePageNumber(currentPage+1)">
          <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" title="{{ 'Action.LastPage' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
                (click)="choosePageNumber(totalPages-1)">
          <i class="fa fa-angle-double-right"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- END PAGING-->
  <!--<div >-->
    <!--{{ 'Statistics.NoData' | translate }}-->
  <!--</div>-->
</div>
