<!-- BEGIN HEADER -->

<div class="page-header navbar navbar-fixed-top padding-tb-10">
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner ">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <!-- <a href="index.html">
            <img src="assets/admin/layout/img/logo.png" alt="logo" class="logo-default"> </a> -->
      <a class="position-relative" href="/">
        <h4 class="position-relative big-title text-bold font-white" style=""><span style="font-size:22pt">{{
            'Header.AppName' | translate }}</span><small class="version-app-name position-relative font-white ng-binding">V{{'Header.Version' | translate}}</small></h4>
      </a>

      <!-- <div class="menu-toggler sidebar-toggler">
        <span></span>
      </div> -->
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-language dropdown-dark">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"
            aria-expanded="false">
            <img alt="" [src]="" />
            <span class="langname"></span>
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-default">
            <li *ngFor="let lang of ListLanguage">
              <a href="javascript:;" (click)="onSelectLanguage(lang)">
                <img height="10" [src]="lang.IconSrc" />{{lang.Name}}</a>
            </li>
          </ul>
        </li>
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        <li class="dropdown dropdown-user">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img alt="" class="img-circle" src="assets/layouts/layout/img/avatar.png" />
            <span class="username username-hide-on-mobile"> </span>
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-default">
            <li>
              <a routerLink="/user-profile">
                <i class="icon-user"></i> {{ 'Common.MyProfile' | translate }} </a>
            </li>
            <li class="divider"> </li>
            <li>
              <a (click)="logout()">
                <i class="icon-key"></i> {{ 'Common.Logout' | translate }} </a>
            </li>
          </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
      </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
      <app-sidebar></app-sidebar>
    </div>
    <!-- END SIDEBAR -->
  </div>
  <!-- END SIDEBAR -->
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
    <!-- END CONTENT BODY -->
  </div>
  <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
  <div class="page-footer-inner"> 2020 © By <a href="http://savis.vn" title="Savis Vietnam Corporation" style="color: rgb(255, 255, 255)">Savis
      Vietnam Corp</a>
  </div>
  <div class="scroll-to-top" style="display: block;">
    <i class="icon-arrow-up"></i>
  </div>
</div>
<!-- END FOOTER -->
