 <!--BEGIN PAGE HEADER-->
 <!--BEGIN PAGE BAR-->
<div class="page-bar" >
  <ul class="page-breadcrumb">
  <li>
    <a href="/home">{{'Header.Home'|translate}}</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <a href="#">{{'SIDEBAR.Statistics'|translate}}</a>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <span>{{'SIDEBAR.Log In Log'|translate}}</span>
  </li>
</ul>
</div>
 <!--END PAGE BAR-->
 <!--END PAGE HEADER-->
<div style="padding:10px;"></div>
<!-- BEGIN TABLE TOOLBAR-->
<div class=" no-print table-toolbar">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal align-middle"  [formGroup]="filterForm" (ngSubmit)="getListLoginLog(filterForm.value, 0)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">{{'Statistics.From'|translate}}</label>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6" style="padding-right: 2px;">
                    <input class="form-control" value="2018-10-16" type="date" formControlName="formDate">
                  </div>
                  <div class="col-md-6" style="padding-left: 2px;">
                    <input class="form-control col-md-5" type="time" step="1" value="01:00:00" required ><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">{{'Statistics.To'|translate}}</label>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6" style="padding-right: 2px;">
                    <input class="form-control" value="2018-10-16" type="date" formControlName="toDate">
                  </div>
                  <div class="col-md-6" style="padding-left: 2px;">
                    <input class="col-md-5" class="form-control" type="time" step="1" value="22:53:05"  required>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">{{'Session.Detail.Status.Title'|translate}}</label>
              <div class="col-md-8">
                <select class="form-control" formControlName="type_log">
                  <option value="">Lựa chọn</option>
                  <option value="in">Đăng nhập</option>
                  <option value="0,out">Thoát</option>
                  <option value="1,out">Tạm thoát</option>
                  <option value="2,out">Đăng xuất</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3" >{{'Session.Account'|translate}}</label>
              <div class="col-md-8">
                <input type="text" class="col-md-12 form-control" formControlName="userLogin">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn green"><i class="fa fa-search"></i>{{'Button.Search'|translate}}</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
 <!--Start Table-->
<div>
  <div  class="row">
    <div class="col-md-12 col-sm-12">
        </div>
          <table  class="table table-striped table-bordered table-hover" id="list-data-table" [mfData]="accountList" #mf="mfDataTable">
            <thead>
            <tr>
              <!--<th>
                <div class="checker">
                  <span [class.checked]="checkAllItemFlag">
                    <input id="checkAll" type="checkbox" (click)="checkAllItem()" />
                  </span>
                </div>
              </th>-->
              <th>
                <a>STT</a>
              </th>
              <th>
                <a>{{'Session.Account'|translate}}</a>
              </th>
              <th>
                <a>{{'Session.Time'|translate}}</a>
              </th>
              <th>
                <a>{{'Session.Detail.Status.Title'|translate}}</a>
              </th>
              <!--<th>
                 {{'Receipt.Action'|translate}}
              </th>-->

            </tr>
            </thead>
            <tbody>
            <tr class="odd gradeX" *ngFor="let item of mf.data; let i = index">
              <!--<td (change)="countNumberDeleteItems()">
                <div class="checker">
                <span [class.checked]="item.checked">
                  <input id="checkOne" type="checkbox" [(ngModel)]="item.checked" />
                </span>
                </div>
              </td>-->
              <td>{{i+1}}</td>
              <td>{{item._source.user_login}}</td>
              <td>{{item._source.login_date | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{item._source.action == 'in' ? 'Đăng nhập': item._source.logout_number == 0 ? 'Thoát': item._source.logout_number == 1 ? 'Tạm thoát': 'Đăng xuất'}}</td>
              <!--<td>
                <button class="btn red btn-circle" (click)="deleteItem(item)"><i class="fa fa-trash-o"></i></button>
              </td>-->
            </tr>
            </tbody>
          </table>
  </div>

  <!-- END TABLE TOOLBAR-->
  <!-- BEGIN TABLE CONTENT-->



  <!-- END TABLE CONTENT-->
  <!-- BEGIN PAGING-->
  <div class="row">
    <div class="col-md-4">
      {{fromNumber}} - {{toNumber}} {{ 'Common.InTotal' | translate }} {{totalElements}} {{ 'Common.Items' |
      translate}}
    </div>
    <div class="col-md-4 pull-right">
      <button type="button" title="{{ 'Action.FirstPage' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
              (click)="choosePageNumber(0)">
        <i class="fa fa-angle-double-left"></i>
      </button>
      <button type="button" title="{{ 'Action.Previous' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
              (click)="choosePageNumber(currentPage-1)">
        <i class="fa fa-angle-left"></i>
      </button>
      <input type="number" min="1" max="{{totalPages}}" style="border: none; width: 30px; text-align: center;" [value]="currentPageView"
             #page (keyup.enter)="choosePageNumber(currentPage)"> /
      <label style="padding-right: 5px;">{{totalPages}}</label>
      <button type="button" title="{{ 'Action.Next' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
              (click)="choosePageNumber(currentPage+1)">
        <i class="fa fa-angle-right"></i>
      </button>
      <button type="button" title="{{ 'Action.LastPage' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
              (click)="choosePageNumber(totalPages-1)">
        <i class="fa fa-angle-double-right"></i>
      </button>
    </div>
  </div>
</div>
 <!-- END PAGING-->
