<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{'Header.Home'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">{{'SIDEBAR.Statistics'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>{{'SIDEBAR.Receipt'|translate}}</span>
    </li>
  </ul>
</div>
<div style="padding:2px;"></div>
<!-- BEGIN TABLE TOOLBAR-->
<div class="table-toolbar">
  <div class="row">

    <div class="col-md-12">
      <span style="padding: 5px"></span>
    </div>
    <div class="col-md-12">
      <button class="btn red" *ngIf="numberDeleteItems>0" (click)="deleteCheckedItems()" id="form-remove-btn"><i class="fa fa-trash-o"></i> {{ 'Button.Delete' | translate }}</button>
    </div>
    <div class="col-md-12">
      <span style="padding: 5px"></span>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal align-middle">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-3">{{'Receipt.Code'|translate}}</label>
            <div class="col-md-8">
                  <input class="form-control" type="text"  required>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-3">{{'Receipt.BillName'|translate}}</label>
            <div class="col-md-8">
              <input class="form-control" type="text"  required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-3">{{'Statistics.From'|translate}}</label>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6" style="padding-right: 2px;">
                  <input class="form-control" type="date" required>
                </div>
                <div class="col-md-6" style="padding-left: 2px;">
                  <input class="form-control col-md-5" type="time" step="1" value="01:00:00" required><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-3">{{'Statistics.To'|translate}}</label>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6" style="padding-right: 2px;">
                  <input class="col-md-7" class="form-control" value="2018-10-16" type="date"  required>

                </div>
                <div class="col-md-6" style="padding-left: 2px;">
                  <input class="col-md-5" class="form-control" type="time" step="1" value="22:53:05"  required>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn green" ><i class="fa fa-search"></i> {{'Button.Search'|translate}}</button>
        </div>
      </div>
    </form>
  </div>

</div>
<div class="portlet-body">
  <div>
    <div class="table-toolbar">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
    <!-- END TABLE TOOLBAR-->
    <!-- BEGIN TABLE CONTENT-->
    <table class="table table-striped table-bordered table-hover" id="list-data-table" [mfData]="receiptList" #mf="mfDataTable">
      <thead>
      <tr>
        <th (change)="countNumberDeleteItems()">
          <div class="checker">
          <span [class.checked]="checkAllItemFlag">
            <input id="checkAll" type="checkbox" (click)="checkAllItem()" />
          </span>
          </div>
        </th>
        <th>
          <a>{{'Receipt.NO'|translate}}</a>
        </th>
        <th>
          <a>{{'Receipt.Code'|translate}}</a>
        </th>
        <th>
          <a>{{'Receipt.BillName'|translate}}</a>
        </th>
        <th>
          <a>{{'Receipt.TimePay'|translate}}</a>
        </th>
        <th>
          <a>{{'Receipt.Action'|translate}}</a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="odd gradeX" *ngFor="let item of mf.data; let i = index">
        <td (change)="countNumberDeleteItems()" style="text-align:center">
        <div class="checker">
          <span [class.checked]="item.checked">
            <input id="checkOne" type="checkbox" [(ngModel)]="item.checked" />
          </span>
        </div>
        </td>
        <td style="text-align:center">{{i+1}}</td>
        <td style="text-align:left">{{item.code}}</td>
        <td style="text-align:center">{{item.billName}}</td>
        <td style="text-align:center">{{item.timePay}}</td>
        <td style="text-align:center">
          <a class="btn btn-icon-only blue" title="{{'Button.PDF'|translate}}" id="business-btn" (click)="getPDFPayemntReceipt(item.pdfLink)">
            <i class="fa fa-info" aria-hidden="true"></i>
          </a>

          <a class="btn btn-icon-only blue wordex " title="{{'Button.Word'|translate}}"
             [routerLink]="['/api',item.code, 'detail']">
           <i class="fa fa-info" aria-hidden="true"></i>
          </a>
        </td>

      </tr>
      </tbody>
    </table>
    <!-- END TABLE CONTENT-->
    <!-- BEGIN PAGING-->
    <div class="row">
      <div class="col-md-4">
        {{fromNumber}} - {{toNumber}} {{ 'Common.InTotal' | translate }} {{totalElements}} {{ 'Common.Items' |
        translate}}
      </div>
      <div class="col-md-4 pull-right">
        <button type="button" title="{{ 'Action.FirstPage' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
                (click)="choosePageNumber(0)">
          <i class="fa fa-angle-double-left"></i>
        </button>
        <button type="button" title="{{ 'Action.Previous' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
                (click)="choosePageNumber(currentPage-1)">
          <i class="fa fa-angle-left"></i>
        </button>
        <input type="number" min="1" max="{{totalPages}}" style="border: none; width: 30px; text-align: center;" [value]="currentPageView"
               #page (keyup.enter)="choosePageNumber(currentPage)"> /
        <label style="padding-right: 5px;">{{totalPages}}</label>
        <button type="button" title="{{ 'Action.Next' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
                (click)="choosePageNumber(currentPage+1)">
          <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" title="{{ 'Action.LastPage' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
                (click)="choosePageNumber(totalPages-1)">
          <i class="fa fa-angle-double-right"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- END PAGING-->
  <div >
    {{ 'Statistics.NoData' | translate }}
  </div>
</div>
