<!--BEGIN PAGE HEADER-->
<!--BEGIN PAGE BAR-->
<div class="page-bar" >
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{'Header.Home'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">{{'SIDEBAR.Statistics'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>{{'SIDEBAR.System Log'|translate}}</span>
    </li>
  </ul>
</div>
<!--END PAGE BAR-->
<!--END PAGE HEADER-->
<div style="padding:10px;"></div>
<div class=" no-print table-toolbar">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal align-middle" [formGroup]="filterForm" (ngSubmit)="search(filterForm.value, 0)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">{{'Statistics.From'|translate}}</label>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6" style="padding-right: 2px;">
                    <input class="col-md-7 form-control" value="2018-10-16" type="date" formControlName="fromDate">
                  </div>
                  <div class="col-md-6" style="padding-left: 2px;">
                    <input class="col-md-5 form-control"  type="time" value="22:53:05" formControlName="fromTime">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">{{'Statistics.To'|translate}}</label>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6" style="padding-right: 2px;">
                    <input class="col-md-7 form-control" value="2018-10-16" type="date" formControlName="toDate">
                  </div>
                  <div class="col-md-6" style="padding-left: 2px;">
                    <input class="col-md-5 form-control" type="time" value="22:53:05" formControlName="toTime" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">{{'Session.Type'|translate}}</label>
              <div class="col-md-8">
                <select class="form-control" formControlName="request_type">
                  <option value="0">Lựa chọn</option>
                  <option value="1">INIT</option>
                  <option value="2">QUERY</option>
                  <option value="3">GET_BILL</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn green"><i class="fa fa-search"></i>{{'Button.Search'|translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Start Table-->
<div>
  <div  class="row">
    <div class="col-md-12 col-sm-12">
    </div>
    <table  class="table table-striped table-bordered table-hover" id="list-data-table" [mfData]="logs" #mf="mfDataTable">
      <thead>
      <tr>
        <th><a>STT</a></th>
        <th><a>{{'Session.Type'|translate}}</a></th>
        <th> <a>{{'Session.Time'|translate}}</a></th>
        <th style="width: 50%"><a>{{'Session.Info'|translate}}</a></th>
      </tr>
      </thead>
      <tbody>
      <tr class="odd gradeX" *ngFor="let item of mf.data; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.requestType == 1 ? "INIT" : (item.requestType == 2 ? "QUERY" : "GET_BILL")}}</td>
        <td>{{item.requestTime | date: 'dd/MM/yyyy'}}</td>
        <td style="width: 70%">{{item.requestMessage}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- END TABLE TOOLBAR-->
  <!-- BEGIN TABLE CONTENT-->



  <!-- END TABLE CONTENT-->
  <!-- BEGIN PAGING-->
  <div class="row">
    <div class="col-md-4">
      {{fromNumber}} - {{toNumber}} {{ 'Common.InTotal' | translate }} {{totalElements}} {{ 'Common.Items' |
      translate}}
    </div>
    <div class="col-md-4 pull-right">
      <button type="button" title="{{ 'Action.FirstPage' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
              (click)="choosePageNumber(0)">
        <i class="fa fa-angle-double-left"></i>
      </button>
      <button type="button" title="{{ 'Action.Previous' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
              (click)="choosePageNumber(currentPage-1)">
        <i class="fa fa-angle-left"></i>
      </button>
      <input type="number" min="1" max="{{totalPages}}" style="border: none; width: 30px; text-align: center;" [value]="currentPageView"
             #page (keyup.enter)="choosePageNumber(currentPage)"> /
      <label style="padding-right: 5px;">{{totalPages}}</label>
      <button type="button" title="{{ 'Action.Next' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
              (click)="choosePageNumber(currentPage+1)">
        <i class="fa fa-angle-right"></i>
      </button>
      <button type="button" title="{{ 'Action.LastPage' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
              (click)="choosePageNumber(totalPages-1)">
        <i class="fa fa-angle-double-right"></i>
      </button>
    </div>
  </div>
  <!--<div>-->
    <!--{{ 'Statistics.NoData' | translate }}-->
  <!--</div>-->
</div>
<!-- END PAGING-->
