<!-- BEGIN SIDEBAR -->
<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " data-keep-expanded="false" data-auto-scroll="true"
 data-slide-speed="200" style="padding-top: 20px">
	<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<li class="sidebar-toggler-wrapper hide">
		<div class="sidebar-toggler">
			<span>123</span>
		</div>
	</li>
	<ng-container *ngIf="rights!=null">
		<li class="nav-item" *ngFor="let right of getChildRights(0)">
			<a href="javascript:;" class="nav-link nav-toggle">
				<i [class]="right.iconUrl" aria-hidden="true"></i>
				<span class="title">{{right?.rightName | translate}}</span>
<!--				<span class="arrow "></span>-->
			</a>
			<ul class="sub-menu">
				<li *ngFor="let subRight of getChildRights(right.rightId)" class="nav-item" routerLinkActive="active open">
					<a [routerLink]="subRight.urlRewrite">
<!--						<i [class]="subRight.iconUrl" aria-hidden="true"></i>-->
						{{ subRight?.rightName | translate}}</a>
				</li>
			</ul>
		</li>
	</ng-container>

</ul>
<!-- END SIDEBAR MENU -->
