<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{'Header.Home'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">{{'SIDEBAR.Statistics'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="/session">{{'SIDEBAR.Session'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>{{'SIDEBAR.Detail'|translate}}</span>
    </li>
  </ul>
</div>
<div style="padding:2px;"></div>
<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal align-middle">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="orderId">{{'Session.Detail.OrderId'|translate}}</label>
            <div class="col-md-8">
              <input id="orderId" type="text" [value]="logdata?.orderId" class="form-control" disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="organizationId">{{'Session.Detail.OrganizationId'|translate}}</label>
            <div class="col-md-8">
              <input id="organizationId" type="text" [value]="logdata?.paymentGateMerchant.merchant.merchantCode" class="form-control" disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="portId">{{'Session.Detail.PortId'|translate}}</label>
            <div class="col-md-8">
              <input id="portId" type="text" [value]="logdata?.paymentGateMerchant.gate.gateCode" class="form-control" disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="money">{{'Session.Detail.Money'|translate}}</label>
            <div class="col-md-8">
              <input id="money" type="text" [value]="logdata?.money | number:'3.0'" class="form-control"
                     disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="transactionId">{{'Session.Detail.TransactionId'|translate}}</label>
            <div class="col-md-8">
              <input id="transactionId" type="text" [value]="logdata?.paymentGateMerchant.id" class="form-control"
                     disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="moneyCode">{{'Session.Detail.MoneyCode'|translate}}</label>
            <div class="col-md-8">
              <input id="moneyCode" type="text" [value]="logdata?.typemoney" class="form-control"
                     disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="ipAddress">{{'Session.Detail.IpAddress'|translate}}</label>
            <div class="col-md-8">
              <input id="ipAddress" type="text" [value]="logdata?.ipAddress" class="form-control"
                     disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="bankCode">{{'Session.Detail.BankCode'|translate}}</label>
            <div class="col-md-8">
              <input id="bankCode" type="text" [value]="logdata?.bank" class="form-control"
                     disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="typeTransaction">{{'Session.Detail.TypeTransaction'|translate}}</label>
            <div class="col-md-8">
              <input id="typeTransaction" type="text" [value]="logdata?.thType" class="form-control"
                     disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="status">{{'Session.Detail.Status.Title'|translate}}</label>
            <div class="col-md-8">
              <input id="status" type="text" [value]="logdata?.status == 1 ? 'Thành Công' : 'Thất bại'" class="form-control"
                     disabled />
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label col-md-2" for="content">{{'Session.Detail.Content'|translate}}</label>
            <div class="col-md-10">
              <input id="content" type="text" [value]="logdata?.note" class="form-control"
                     disabled />
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="logdata?.status == 0">
          <div class="form-group">
            <label class="control-label col-md-2" for="errorDetail">{{'Session.Detail.ErrorDetail'|translate}}</label>
            <div class="col-md-10">
              <input id="errorDetail" type="text" [value]="logdata?.error" class="form-control" disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn default" (click)="goBack()"><i class="fa fa-undo" aria-hidden="true"></i> {{
          'Common.Back' | translate }}</button>
      </div>
    </form>
  </div>
</div>
<!-- BEGIN TABLE CONTENT-->
