input {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button {
  width: 18%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-size: small;
}
