<div style="min-width: 400px;">
	<p>{{ emptyTitle | translate }}</p>
	<p>{{ emptyMessage | translate }}</p>
	<div style="width: 100%; text-align: right;">
		<button type="button" md-raised-button (click)="dialogRef.close()">{{ 'Dialog.Cancel' | translate }}</button>
	</div>
</div>